<div class="container mt-5">
  <h1>ნივთის დამატება</h1>
  <form (ngSubmit)="onSubmit(inventoryForm)" #inventoryForm="ngForm">
    <div class="mb-3">
      <label for="location" class="form-label">ადგილმდებარეობა</label>
      <select
        class="form-control"
        id="location"
        [(ngModel)]="newInventory.location"
        name="location"
        required
      >
        <option>მთავარი ოფისი</option>
        <option>კავეა გალერია</option>
        <option>კავეა თბილისი მოლი</option>
        <option>კავეა ისთ ფოინთი</option>
        <option>კავეა სითი მოლი</option>
      </select>
      <div
        *ngIf="inventoryForm.submitted && inventoryForm.controls['location'].errors?.['required']"
        class="text-danger"
      >
        გთხოვთ მიუთითოთ ადგილმდებარეობა
      </div>
    </div>
    <div class="mb-3">
      <label for="name" class="form-label">სახელი</label>
      <input
        type="text"
        class="form-control"
        id="name"
        [(ngModel)]="newInventory.name"
        name="name"
        required
      />
      <div
        *ngIf="inventoryForm.submitted && inventoryForm.controls['name'].errors?.['required']"
        class="text-danger"
      >
        გთხოვთ მიუთითოთ სახელი
      </div>
    </div>
    <div class="mb-3">
      <label for="price" class="form-label">ფასი</label>
      <input
        type="number"
        class="form-control"
        id="price"
        [(ngModel)]="newInventory.price"
        name="price"
        required
      />
      <div
        *ngIf="inventoryForm.submitted && inventoryForm.controls['price'].errors?.['required']"
        class="text-danger"
      >
        გთხოვთ მიუთითოთ ფასი
      </div>
    </div>
    <button type="submit" class="btn btn-primary">დამატება</button>
  </form>
</div>
