<div class="container mt-4">
  <a routerLink="/add-product" class="btn btn-primary mb-3"> Add Product </a>
  <select [(ngModel)]="selectedLocation" (change)="fetchProducts(selectedLocation)" class="form-select mb-3">
    <option value="">All locations</option>
    <option *ngFor="let location of locations" [value]="location">{{location}}</option>
  </select>
  
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Product Name</th>
        <th>Product Location</th>
        <th>Product Price (Gel)</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of products">
        <td>{{ product.name }}</td>
        <td>{{ product.location }}</td>
        <td>{{ product.price }}</td>
        <td>
          <button
            class="btn btn-danger"
            (click)="product.id !== undefined && deleteProduct(product.id)"
          >
            Delete
          </button>
        </td>
      </tr>
    </tbody>
  </table>
  <app-pagination
    [currentPage]="currentPage"
    [totalPages]="totalPages"
    (pageChanged)="onPageChange($event)"
  ></app-pagination>
</div>
