<div class="container mt-4">
  <div class="d-flex gap-5">
    <a routerLink="/add-product" class="btn btn-primary mb-3"
      >ნივთის დამატება</a
    >
    <select
      [(ngModel)]="selectedLocation"
      (change)="fetchProducts(selectedLocation)"
      class="form-select mb-3 w-25"
    >
      <option value="">ყველა ადგილმდებარეობა</option>
      <option *ngFor="let location of locations" [value]="location">
        {{ location }}
      </option>
    </select>
    <select
      (change)="onSortChange($event.target)"
      class="form-select mb-3 w-25"
    >
      <option value="name">სახელით განლაგება</option>
      <option value="price">ფასით განლაგება</option>
    </select>
  </div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>ნივთის სახელი</th>
        <th>ნივთის ადგილმდებარეობა</th>
        <th>ნივთის ფასი (ლარი)</th>
        <th>მოქმედება</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of products">
        <td>{{ product.name }}</td>
        <td>{{ product.location }}</td>
        <td>{{ product.price }}</td>
        <td>
          <button
            class="btn btn-danger"
            (click)="product.id !== undefined && deleteProduct(product.id)"
          >
            წალა
          </button>
        </td>
      </tr>
    </tbody>
  </table>
  <app-pagination
    [currentPage]="currentPage"
    [totalPages]="totalPages"
    (pageChanged)="onPageChange($event)"
  ></app-pagination>
</div>
